.table .nav {
  height: 1.04rem /* 78/75 */;
  width: 100%;
  background-color: #ededed;
  text-align: center;
  line-height: 1.04rem /* 78/75 */;
  border-top: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
}
.table .nav span {
  float: left;
  padding-left: 0.426667rem /* 32/75 */;
}
.table .nav i {
  float: right;
  padding-right: 0.426667rem /* 32/75 */;
  margin-top: 0.32rem /* 24/75 */;
  font-size: 0.533333rem /* 40/75 */;
}
.table .product li {
  height: 3.2rem /* 240/75 */;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: #fff;
}
.table .product a {
  height: 3.133333rem /* 235/75 */;
  width: 100%;
}
.table .product a .rec_left {
  margin-left: 0.333333rem /* 25/75 */;
  margin-top: 0.293333rem /* 22/75 */;
  float: left;
  width: 3.2rem /* 240/75 */;
}
.table .product a .rec_left img {
  width: 2.4rem /* 180/75 */;
  height: 2.7rem /* 160/75 */;
}
.table .product a .rec_right {
  float: right;
  width: 6.466667rem /* 485/75 */;
  margin-top: 0.373333rem /* 28/75 */;
}
.table .product a .rec_right p:nth-child(1) {
  font-size: 0.32rem /* 24/75 */;
  color: #000000;
  line-height: 0.533333rem /* 40/75 */;
}
.table .product a .rec_right p:nth-child(2) {
  font-size: 0.373333rem /* 28/75 */;
  margin-top: 0.266667rem /* 20/75 */;
  font-weight: bold;
  color: red;
}
.table .product a .rec_right p:nth-child(3) {
  font-size: 0.266667rem /* 20/75 */;
  margin-top: 0.2rem /* 15/75 */;
  color: #ccc;
}
